body {
  position: relative;
}

body::after {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  content: ' ';
  opacity: 0.3;
  width: 100%;
  height: 100vh;
  background-image: url("dofe-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

input [type="checkbox"] {
  background-color: black;
}

.centered {
  text-decoration: underline;
}

.middle-cards {
  display: flex;
  justify-content: space-around;
}
.middle-cards .card {
  width: 18rem;
}


.cardlink{
  color:inherit;
  transition: 2s;
}

.cardlink:visited{
  color:inherit;
}
.cardlink:hover{
  color:inherit;
}
