p {
  padding-left: 20px;
  font-size: 1.75em;
}

h3 {
  padding-left: 15px;
  font-size: 2em;
}

h1 {
  padding-left: 10px;
  font-size: 2.5em;
}

body {
  position: relative;
}

body::after {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  content: ' ';
  opacity: 0.3;
  width: 100%;
  height: 100vh;
  background-image: url("dofe-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

input [type="checkbox"] {
  background-color: black;
}

.centered {
  text-decoration: underline;
  text-align: center;
}

.middle {
  display: flex;
  justify-content: space-around;
}

#card1:hover{
  transform: scale(1.1);
  transition: 2s;
}

#card2:hover{
  transform: scale(1.1);
  transition: 2s;
}

#card3:hover{
  transform: scale(1.1);
  transition: 2s;
}

#card4:hover{
  transform: scale(1.1);
  transition: 2s;
}

.cardlink{
  color:inherit;
}

.cardlink:visited{
  color:inherit;
}
.cardlink:hover{
  color:inherit;
}
